---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import BreakoutImage from '@components/BreakoutImage.astro'
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog')

  return blogPosts.map((post) => ({
    params: { post: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await render(post)

const author = {
  name: post.data.author,
  image: post.data.authorImage || '/posts/post-image-1.png',
  bio: 'Repair Café Xanten',
}
---

<DefaultLayout title={post.data.title} description={post.data.description} url={post.data.title}>
  <PageHeader
    title={post.data.title}
    subtitle={post.data.description}
    author={author}
    bgType="bordered"
    featuredImage={post.data.featuredImage}
  />
  <section class="my-12">
    <div class="narrow container space-content">
      <Content />
    </div>
  </section>
  <section class="my-12">
    <div class="narrow space-content container">
      <h2>Artikel teilen</h2>
      <p>Hat Ihnen dieser Artikel gefallen? Teilen Sie ihn mit Ihren Freunden!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>
